body {
    font-family: "Istok Web", sans-serif;
    background-image: url('https://images.pexels.com/photos/262713/pexels-photo-262713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin: 0;
}

.h-pre{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    white-space: pre-wrap;
}

@media screen and (max-width: 2000px) {
    .h-pre {
        font-size: 28px;
    }
    .peredtext{
        font-size: 25px;
    }
    .l-words{
        font-size: 25px;
    }
    .sendbtn{
        width: 135px;
        font-size: 17px;
    }
}

@media screen and (max-width: 998px) {
    .h-pre {
        font-size: 22px;
    }
    .peredtext{
        font-size: 23px;
    }
    .l-words{
        font-size: 23px;
    }
    .sendbtn{
        width: 125px;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .h-pre {
        font-size: 20px;
    }
    .peredtext{
        font-size: 20px;
    }
    .l-words{
        font-size: 20px;
    }
    .sendbtn{
        width: 115px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .peredtext{
        font-size: 16px;
    }
    .peredtext{
        font-size: 17px;
    }
    .l-words{
        font-size: 19px;
    }
    .sendbtn{
        width: 105px;
        font-size: 13px;
    }
}


.peredtext{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.history{
    background-color:rgba(233, 150, 122, 0.507);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 90%;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

.header{
    display: flex;
    justify-content: left;
    align-items: center; 
    margin: 0;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: rgba(207, 131, 100, 0.541);
}

.sendbtn{
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sendbtn:hover {
    background-color: #45a049;
}

.last-element {
    margin-left: auto;
    margin-right: 10px;
}

.l-words{
    font-weight: 900;
}
